.topbar {
  padding: 10px 0;
  background-color: #fff;
  .navbar_brand_wrapper {
    width: 230px;
    .topbar_logo {
      text-align: center;
      img {
        height: 60px;
      }
    }
  }
  .navbar_menu_wrapper {
    padding-left: 24px;
    padding-right: 24px;
    width: calc(100% - 230px);
    // color: #9c9fa6;
    .top_right {
      display: flex;
      justify-content: flex-end;
      gap: 30px;
      margin-bottom: 10px;
      align-items: center;
      .user_name {
        font-weight: 600;
        font-size: 18px;
      }
      .top_right_icons {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        flex-direction: row-reverse;
        button {
          font-size: 18px;
          padding: 0 5px;
          display: block;
          color: #ff273a !important;
          background-color: unset !important;
          border: unset !important;
          svg {
            vertical-align: unset;
          }
        }
      }
    }
    .top_right_menu {
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 20px;
        justify-content: flex-end;
        li {
          list-style-type: none;
          button {
            color: #000;
            background-color: unset;
            border: unset;
            padding: 0;
          }
          .drop_menu {
            > div {
              border-radius: 5px;
              border-color: #e1e1e1;
            }
          }
          a {
            text-decoration: none !important;
            font-size: 15px;
            //border-right: 1px solid #000;
            display: flex;
            align-items: center;
            padding: 8px 10px;
            color: #000;
            gap: 5px;
            background-color: #fff !important;
          }
        }
      }
    }
  }
}
